.allborders{
    border-style:solid;
}
.redbottom{
    border-bottom: red 1px solid;
}
.rounded{
    width: 200px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 15px;
}
.blueleft{
    border-left: blue 5px solid;
}
.dotted{
    border-style: dotted;
}
.dashed{
    border-style: dashed;
}
.solid{
    border-style: solid;
}
.groove{
    border-style: groove;
}
.ridge{
    border-style:ridge;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.none{
    border-style: none;
}
.hidden{
    border-style: hidden;;
}
.double{
    border-style: double    ;
}
.mixed{
    border-style: double;
}
.dtd10px{
    border-style: dotted;
    border-width: 10px;
}